@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

body
{
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	color: #333333;
	font-family: 'Cantarell', sans-serif;
}

header
{
	background-color: #f1f1f1;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 50px;
	font-family: 'Fjalla One', sans-serif;
}

header h2
{
	flex: 1;
	text-transform: uppercase;
	letter-spacing: 4px;
}

header nav
{
	flex: 2;
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 10px;
}

#browser-alert
{
	text-align: center;
	padding: 15px 5px;
	background-color: #ff2c2c;
	color: #ffffff;
	display: block;
}

.btn
{
	padding: 10px 15px;
	user-select: none;
}

.btn-nopad
{
	user-select: none;
}

.btn:hover
{
	cursor: pointer;
}

.btn-nopad:hover
{
	cursor: pointer;
}

.btn-txt
{
	display: inline-block;
	position: relative;
}

.btn-txt::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #4a90e2;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.btn-txt:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.btn-cta
{
	background-color: #4a90e2;
	color: #ffffff;
	border-radius: 4px;
	transition: 0.3s ease;
}

.btn-cta:hover
{
	background-color: #a1c6ff;
	cursor: pointer;
}

table
{
	border-collapse: collapse;
	max-width: 70%;
}

table th
{
	padding: 5px 15px;
	text-align: right;
	width: 250px;
	border-right: 1px solid #cccccc;
}
table td
{
	padding: 5px 15px;
	text-align: justify;
}

/* MAIN */
main
{
	height: 100%;
}

landing-banner
{
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	gap: 20px;
	background: url('images/1.jpg') #000000b2;
	background-size: 100%;
	background-position: center;
	background-blend-mode: multiply;
	box-shadow: 0px 0px 8px 0px rgba(66, 68, 90, 0.5);
}

.landing-header
{
	font-weight: 700;
	font-family: 'DM Sans', sans-serif;
	font-size: 32pt;
	text-shadow: 1px 1px 0px rgba(66, 68, 90, 0.5);
}

landing-banner span
{
	font-size: 12pt;
	text-align: center;
}

/* INTERACTIVE MAP */
.intmap-content
{
	display: flex;
	width: 100%;
	height: 90vh;
}

.map-container
{
	flex: 3;
	overflow: hidden;
	position: relative;
	border: 1px solid #cccccc;
}

.map-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	cursor: grab;
	transform-origin: top left;
}

.draggable-map
{
	width: 613px;
	height: 577px;
	user-select: none;
	pointer-events: none;
}

.map-legend
{
	flex: 1;
	padding: 0 15px;
}

.map-legend ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* FIND FIREDEPT */
.fmap-content
{
	display: flex;
	width: 100%;
	height: 90vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fmap-container
{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
}

#osm-map
{
	width: 70%;
	height: 100%;
}

.fmap-sidebar
{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fmap-inputs
{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.find-input-bar
{
	height: 5%;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.find-input-text
{
	background-color: #e6e6e6;
	outline: none;
	border: none;
	border-radius: 12px;
	padding: 0 10px;
	height: 40px;
	border-bottom: 2px solid #e6e6e6;
	transition: 0.3s ease;
}

.find-input-text:focus
{
	border-bottom: 2px solid #4a90e2;
}

.find-input-btn
{
	color: #ffffff;
	background-color: #4a90e2;
	outline: none;
	border: none;
	border-radius: 12px;
	height: 40px;
	padding: 0 25px;
	font-size: 12pt;
	user-select: none;
	transition: 0.3s ease;
}
.find-input-btn:hover
{
	background-color: #a1c6ff;
	cursor: pointer;
}

#found-depts
{
	margin: 15px 0;
	padding: 0 15px;
	width: calc(100% - 30px);
}

.fmap-legend
{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fmap-legend ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.marker-icon
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
}

/* AI CHAT */
.chat-content
{
	display: flex;
	width: 100%;
	height: 90vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.chat-window
{
	height: 80%;
	width: 50%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: auto;
	border: 1px solid #cccccc;
	border-radius: 12px;
}

.chat-window-dummy-spacer
{
	margin-top: auto;
}

.chat-initial-information
{
	opacity: 0.5;
	width: 100%;
	text-align: center;
	user-select: none;
}

.chat-message-user
{
	align-self: flex-end;
	background-color: #4a90e2;
	border-radius: 8px;
	max-width: 70%;
	color: #ffffff;
	padding: 5px 15px;
}

.chat-message-ai
{
	align-self: flex-start;
	background-color: #f1f1f1;
	border-radius: 8px;
	max-width: 70%;
	padding: 5px 15px;
}

.chat-message-ai img
{
	width: 16px;
	height: 16px;
}

.timestamp
{
	font-size: 8pt;
}

.chat-input-bar
{
	width: 50%;
	height: 5%;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.chat-input-text
{
	background-color: #e6e6e6;
	outline: none;
	border: none;
	border-radius: 12px;
	padding: 0 10px;
	height: 100%;
	flex: 1;
	border-bottom: 2px solid #e6e6e6;
	transition: 0.3s ease;
}

.chat-input-text:focus
{
	border-bottom: 2px solid #4a90e2;
}

.chat-input-btn
{
	color: #ffffff;
	background-color: #4a90e2;
	outline: none;
	border: none;
	border-radius: 12px;
	height: 100%;
	padding: 0 25px;
	font-size: 12pt;
	user-select: none;
}

.chat-input-send-btn
{
	background-color: #4a90e2;
	transition: 0.3s ease;
}
.chat-input-send-btn:hover
{
	background-color: #a1c6ff;
	cursor: pointer;
}
.chat-input-attachment-btn
{
	background-color: #afafaf;
	transition: 0.3s ease;
}
.chat-input-attachment-btn:hover
{
	background-color: #c7c7c7;
	cursor: pointer;
}

/* LOGIN / REGISTER */
.login-content
{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.login-window
{
	width: 400px;
	background-color: #f1f1f1;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 15px 5px;
}

.login-input-group
{
	display: flex;
	flex-direction: column;
}

.login-input-text
{
	background-color: #e6e6e6;
	outline: none;
	border: none;
	border-radius: 12px;
	padding: 0 10px;
	width: 300px;
	height: 40px;
	border-bottom: 2px solid #e6e6e6;
	transition: 0.3s ease;
}

.login-input-text:focus
{
	border-bottom: 2px solid #4a90e2;
}

.login-input-btn
{
	color: #ffffff;
	background-color: #4a90e2;
	outline: none;
	border: none;
	border-radius: 12px;
	height: 40px;
	padding: 0 25px;
	font-size: 12pt;
	user-select: none;
	transition: 0.3s ease;
}
.login-input-btn:hover
{
	background-color: #a1c6ff;
	cursor: pointer;
}

.invalid-login-credentials-alert
{
	background-color: #ff2c2c;
	color: #ffffff;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	opacity: 0;
	transition: 0.5s ease;
}

/* ADMIN PANEL */
.admin-content
{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.admin-content header
{
	width: 100%;
	height: 3vh;
	padding: 15px 0;
}

.admin-content header img
{
	width: 45px;
	margin: 0 15px;
}

.admin-content header h3
{
	flex: 1;
	user-select: none;
}

.admin-content header .admin-header-notify-text
{
	margin: 0 15px;
	opacity: 0.5;
	user-select: none;
}

.admin-content .admin-main-container
{
	width: 100vw;
	height: 97vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
}

.admin-content .admin-main-container .admin-navigation
{
	background-color: #f1f1f1;
	width: 15vw;
	height: 100%;
}

.admin-content .admin-main-container .admin-navigation .admin-navigation-item
{
	background-color: #e9e9e9;
	color: #333333;
	border-radius: 4px;
	margin: 5px;
	height: 45px;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 0 15px;
	user-select: none;
	transition: 0.3s ease;
}

.admin-content .admin-main-container .admin-navigation .admin-navigation-item:hover
{
	background-color: #d6d6d6;
	cursor: pointer;
}

.admin-content .admin-main-container .admin-settings-display
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e0e0e0;
	border-radius: 8px 0 0 0;
}

.admin-content .admin-main-container .admin-settings-display .admin-settings-display-information
{
	opacity: 0.5;
	user-select: none;
}

.admin-content .admin-main-container .admin-settings-display .admin-settings-display-anim-arrows
{
	opacity: 0;
	user-select: none;
	animation: arrow_opacity 3s ease infinite;
}

.admin-content .admin-main-container .admin-settings-display .admin-settings-display-anim-arrows span
{
	color: #e0e0e0;
	text-shadow: 2px 0 #333, -2px 0 #333, 0 2px #333, 0 -2px #333, 1px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333;
}

.admin-content .admin-main-container .admin-settings-display .admin-settings-inner-container
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.admin-content .admin-main-container .admin-settings-display .admin-settings-inner-container .admin-settings-inner-container-column
{
	display: flex;
	flex: 1;
	flex-direction: column;
}

.admin-input-group
{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.admin-input-text
{
	background-color: #e6e6e6;
	outline: none;
	border: none;
	border-radius: 12px;
	padding: 0 10px;
	width: 300px;
	height: 40px;
	border-bottom: 2px solid #e6e6e6;
	transition: 0.3s ease;
}

.admin-input-text:focus
{
	border-bottom: 2px solid #4a90e2;
}

.admin-input-btn
{
	color: #ffffff;
	background-color: #4a90e2;
	outline: none;
	border: none;
	border-radius: 12px;
	height: 40px;
	padding: 0 25px;
	font-size: 12pt;
	user-select: none;
	transition: 0.3s ease;
}
.admin-input-btn:hover
{
	background-color: #a1c6ff;
	cursor: pointer;
}

#admin-unit-map
{
	width: 100%;
	height: 700px;
	background: url(https://placehold.co/150x150/EEE/31343C?font=playfair-display&text=Placeholder);
}

.unit-status-active
{
	color: #80ef80;
}
.unit-status-inactive
{
	color: #ff2c2c;
}

@keyframes arrow_opacity
{
	0%   { opacity: 0; }
	50%  { opacity: 0.5; }
	100% { opacity: 0; }
}

/* OPEN SOURCE LICENSES */
.osl-content
{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* CONTACT */
.about-content
{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* CONTACT */
.contact-content
{
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#contact-map
{
	width: 500px;
	height: 500px;
}

/* FOOTER */
footer
{
	background-color: #f1f1f1;
	display: flex;
	flex-direction: row;
	padding: 15px 50px;
}

footer h4
{
	font-family: 'Fjalla One', sans-serif;
	user-select: none;
}

footer img
{
	padding: 15px 0;
}

.footer-box
{
	flex: 1;
}

footer:nth-of-type(2)
{
	text-align: center;
	color: #33333333;
}