.map-container
{
	flex: 3;
	overflow: hidden;
	position: relative;
	border: 1px solid #cccccc;
}

.map-wrapper
{
	position: absolute;
	top: 0;
	left: 0;
	cursor: grab;
	transform-origin: top left;
}

.draggable-map
{
	width: 613px;
	height: 577px;
	user-select: none;
	pointer-events: none;
}

.map-legend
{
	flex: 1;
	padding: 0 15px;
}

.map-legend ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}